<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head.ejs %>
</head>

<body>
    <header>
        <% include ../../partials/header.ejs %>
    </header>
    <main>
        <div class="page-title">
            <h5>Free text edit space here</h5>
        </div>
        <div class="card-deck">
            <div class="card">
                <div class="card-overlay"></div>
                <img class="card-img" src="https://images.unsplash.com/photo-1475563011407-6bf489b1c361?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9cd5b743b42d8cc767b58af0c51602c6&auto=format&fit=crop&w=1050&q=80"
                    alt="Card Image">
                <div class="card-title">About</div>
                <div class="card-body">
                    <div class="card-body-title">
                        About
                    </div>
                    <div class="card-body-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                    <div class="card-body-url">
                        <a href="https://www.firefox.com" target="_blank">About</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-overlay"></div>
                <img class="card-img" src="https://images.unsplash.com/photo-1475563011407-6bf489b1c361?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9cd5b743b42d8cc767b58af0c51602c6&auto=format&fit=crop&w=1050&q=80"
                    alt="Card Image">
                <div class="card-title">About</div>
                <div class="card-body">
                    <div class="card-body-title">
                        About
                    </div>
                    <div class="card-body-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                    <div class="card-body-url">
                        <a href="https://www.firefox.com" target="_blank">About</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-overlay"></div>
                <img class="card-img" src="https://images.unsplash.com/photo-1475563011407-6bf489b1c361?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9cd5b743b42d8cc767b58af0c51602c6&auto=format&fit=crop&w=1050&q=80"
                    alt="Card Image">
                <div class="card-title">About</div>
                <div class="card-body">
                    <div class="card-body-title">
                        About
                    </div>
                    <div class="card-body-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                    <div class="card-body-url">
                        <a href="https://www.firefox.com" target="_blank">About</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-overlay"></div>
                <img class="card-img" src="https://images.unsplash.com/photo-1475563011407-6bf489b1c361?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9cd5b743b42d8cc767b58af0c51602c6&auto=format&fit=crop&w=1050&q=80"
                    alt="Card Image">
                <div class="card-title">About</div>
                <div class="card-body">
                    <div class="card-body-title">
                        About
                    </div>
                    <div class="card-body-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                    <div class="card-body-url">
                        <a href="https://www.firefox.com" target="_blank">About</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-overlay"></div>
                <img class="card-img" src="https://images.unsplash.com/photo-1475563011407-6bf489b1c361?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9cd5b743b42d8cc767b58af0c51602c6&auto=format&fit=crop&w=1050&q=80"
                    alt="Card Image">
                <div class="card-title">About</div>
                <div class="card-body">
                    <div class="card-body-title">
                        About
                    </div>
                    <div class="card-body-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                    <div class="card-body-url">
                        <a href="https://www.firefox.com" target="_blank">About</a>
                    </div>
                </div>
            </div>
            <% if (typeof pages === "object" && pages) { %>
              <% pages.map(function(page){ %>
                <div class="card">
                    <div class="card-overlay"></div>
                    <img class="card-img" src="<%=page.banner_location%>"
                        alt="<%=page.image_name%>">
                    <div class="card-title"><%=page.title%></div>
                    <div class="card-body">
                        <div class="card-body-title">
                            About
                        </div>
                        <div class="card-body-text">
                            <%=page.page_description%>.
                        </div>
                        <div class="card-body-url">
                            <a href="/pages/<%=page.page_id%>" target="_blank">About</a>
                        </div>
                    </div>
                </div>
              <% })%>
            <% } %>
        </div>
        </div>
    </main>
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/2.0.3/velocity.min.js"></script>
    <% include ../../partials/footer.ejs %>
</body>

</html>