  <nav class="navbar" role="navigation">
    <div class="navbar-brand">
        <div class="navbar-brand-name">
            Ginny Bradley
        </div>
        <div class="navbar-brand-description">
            Inspiring children's confidence &amp; wellbeing
        </div>
    </div>
    <div class="navbar-toggler navbar-toggler-icon">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
    </div>
    <div class="navbar-nav-modal"></div>
    <ul class="navbar-mobile collapse">
        <div class="navbar-mobile-nav">
            <div class="navbar-name">
                MENU
            </div>
            <div class="navbar-toggler navbar-toggler-icon">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </div>
        </div>
        <%if (typeof menuItems == "object" && menuItems) { %>
          <% menuItems.forEach(function(menuItem, index) { %>
           <% if (menuItem.parent_id === null && menuItem.link !== null  ) { %>
           <li class="nav-item">
            <a href="<%menuItem.link || ''%>"><%=menuItem.title%></a>
          </li>
          <% } else { %> 
            <li class="nav-item dropdown"><%=menuItem.title%>
              <ul class="dropdown-menu">
                <%if(menuItem.children) { %>
                  <%menuItem.children.map(function(childItem){ %>
                    <li class="dropdown-item"><a href="<%=childItem.link%>"><%=childItem.title%></a></li>
                  <% }) %>
                <% } %>
              </ul>
           </li>
          <% } %>
        <% }) %>
      <% } %>
    </ul>
    <ul class="navbar-desktop">
        <%if (typeof menuItems == "object" && menuItems) { %>
          <% menuItems.forEach(function(menuItem, index) { %>
           <% if (menuItem.parent_id === null && menuItem.link !== null  ) { %>
           <li class="nav-item">
            <a href="<%menuItem.link || ''%>"><%=menuItem.title%></a>
          </li>
          <% } else { %> 
            <li class="nav-item dropdown"><%=menuItem.title%>
              <ul class="dropdown-menu">
                <%if(menuItem.children) { %>
                  <%menuItem.children.map(function(childItem){ %>
                    <li class="dropdown-item"><a href="<%=childItem.link%>"><%=childItem.title%></a></li>
                  <% }) %>
                <% } %>
              </ul>
           </li>
          <% } %>
        <% }) %>
      <% } %>
    </ul>
  </nav>
