<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <% include ../partials/header.ejs %>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Manage Navigation Items
                    </h1>
                </div>
                <div class="row row-cards row-deck">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header manage-navigation-items-header">
                                <h3 class="card-title">Main menu</h3>
                                <div class="text-right">
                                    <button class="btn btn-primary ml-auto add-new-item-button menu-item-button">Add new item</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Page Link</th>
                                            <th>Order</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <% if (typeof parentNav == 'object' && parentNav) {%>
                                    <tbody class="table-menu-items">
                                      <% parentNav.map(function(nav){%>
                                        <tr>
                                            <!-- Do not change this line for now -->
                                            <input type="hidden" class="main-nav-item-id" name="main_nav_item_id" value="<%=nav.navigation_id%>" />
                                            <!-- Do not change this line for now -->
                                            <input type="hidden" class="page_id" name="page_id" value="<%=nav.navigation_id%>" />
                                            <input type="hidden" class="main-nav-item-id" name="main_nav_item_id" value="<%=nav.navigation_id%>" />
                                            <td>
                                                <input type="text" class="form-control menu-page-name" name="menu_page_name" value="<%=nav.title%>">
                                            </td>
                                            <td>
                                                <select name="menu_page" class="form-control custom-select menu-items-select">
                                                    <option value="no-link">no-link</option>
                                                    <% if (typeof subMenuList == 'object' && subMenuList) {%>
                                                      <% subMenuList.map(function(option){%>
                                                      <option value="<%=option.link%>"><%=option.link%></option>
                                                        <% }) %>
                                                    <% } %>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control page-order menu-page-order" name="menu_page_order" value="<%=nav.order || 0 %>">
                                            </td>
                                            <td>
                                                <button class="btn btn-secondary btn-sm save-menu-item">Save</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm delete-menu-item">Delete</button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                    <% } %>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header manage-navigation-items-header">
                                <h3 class="card-title">Sub menu</h3>
                                <div class="text-right">
                                    <button class="btn btn-primary ml-auto add-new-item-button sub-menu-item-button">Add new item</button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Main Menu Item</th>
                                            <th>Child Page Link</th>
                                            <th>Order</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <%if ( typeof childNav == 'object' && childNav) {%>
                                    <tbody class="table-sub-menu-items">
                                      <%childNav.map(function(child) {%>
                                        <tr>
                                            <input type="hidden" class="sub-nav-item-id" value="null" name="sub_nav_item_id" />
                                            <td>
                                                <input type="text" class="form-control sub-menu-page-name" name="sub_menu_page_name" placeholder="Nursery Classes">
                                            </td>
                                            <td>
                                                <select name="parent_page" class="custom-select parent-item-select">
                                                    <option value="1">Workshops</option>
                                                    <option value="2">about</option>
                                                    <option value="3">workshops</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select name="child_page" class="form-control custom-select child-item-select">
                                                  <% if (typeof subMenuList == 'object' && subMenuList) { %>
                                                    <% subMenuList.map(function(page, index){ %>
                                                      <option value="<%=page.title%>"><%=page.title%></option>
                                                    <% }) %>
                                                  <% } %>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control page-order sub-menu-page-order" name="sub_menu_page_order" value="0">
                                            </td>
                                            <td>
                                                <button class="btn btn-secondary btn-sm save-submenu-item">Save</button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm delete-submenu-item">Delete</button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                    <% } %>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footer.ejs %>
        <% include ../partials/manage-nav-message.ejs %>
        <% include ../partials/flash-message.ejs %>
            <!-- Scripts -->
            <script src="/js/add-nav-item.js"></script>
            <script src="/js/manage-nav-message.js"></script>
</body>

</html>